# Ritika Chaudhary

## Python for ML/AI intern @ Elite Techno Groups

##  Project #1 - JSON Based Inventory Management System

### Read Data From JSON

In [1]:
import json

In [2]:
fd=open("Record.json",'r')
r=fd.read()
fd.close()

In [3]:
Record=json.loads(r)

In [4]:
Record

{'1001': {'Name': 'Drink', 'Price': 100, 'Quantity': 100},
 '1002': {'Name': 'Choco Cake', 'Price': 40, 'Quantity': 20},
 '1003': {'Name': 'Keyboard', 'Price': 350, 'Quantity': 25},
 '1004': {'Name': 'Laptop', 'Price': 50000, 'Quantity': 8},
 '1005': {'Name': 'Juice', 'Price': 150, 'Quantity': 95},
 '1006': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1007': {'Name': 'Box', 'Price': 50, 'Quantity': 70},
 '1008': {'Name': 'Mobile Phone', 'Price': 15000, 'Quantity': 15},
 '1009': {'Name': 'Notebook', 'Price': 30, 'Quantity': 75},
 '1010': {'Name': 'Case', 'Price': 1500, 'Quantity': 55},
 '1011': {'Name': 'Sofa', 'Price': 40000, 'Quantity': 30},
 '1012': {'Name': 'Bed', 'Price': 45000, 'Quantity': 17},
 '1013': {'Name': 'Bulb', 'Price': 50, 'Quantity': 150},
 '1014': {'Name': 'LED', 'Price': 75000, 'Quantity': 42},
 '1015': {'Name': 'Tablet', 'Price': 30000, 'Quantity': 18},
 '1016': {'Name': 'Table', 'Price': 2400, 'Quantity': 23},
 '1017': {'Name': 'Rod', 'Price': 800, 'Quantity': 750},
 '1018': {'Name': 'Window Glass', 'Price': 1700, 'Quantity': 67},
 '1019': {'Name': 'Sun Glasses', 'Price': 1000, 'Quantity': 78},
 '1020': {'Name': 'Artificial Plants', 'Price': 400, 'Quantity': 350}}

### Add new item into inventory

In [5]:
n=int(input("Number of items"))
prod_id=1020
for i in range(n):
    prod_id=prod_id+1
    Name=input("Enter Name of the Product: ")
    Price=int(input("Enter Price of the product: "))
    Quantity=int(input("Enter quantity of the product: "))
    Record[prod_id] = {'Name': Name, 'Price': Price, 'Quantity': Quantity}

    js = json.dumps(Record)

    fd = open("Record.json",'w')
    fd.write(js)
    fd.close()

Number of items15
Enter Name of the Product: Men Trousers
Enter Price of the product: 2500
Enter quantity of the product: 15
Enter Name of the Product: Men Shirt
Enter Price of the product: 3000
Enter quantity of the product: 36
Enter Name of the Product: Female Dress
Enter Price of the product: 5000
Enter quantity of the product: 20
Enter Name of the Product: Desktop
Enter Price of the product: 35000
Enter quantity of the product: 25
Enter Name of the Product: Mouse
Enter Price of the product: 700
Enter quantity of the product: 150
Enter Name of the Product: Air Conditioner
Enter Price of the product: 35000
Enter quantity of the product: 20
Enter Name of the Product: Cooler
Enter Price of the product: 7000
Enter quantity of the product: 15
Enter Name of the Product: Fan
Enter Price of the product: 1500
Enter quantity of the product: 40
Enter Name of the Product: Refrigerator
Enter Price of the product: 40000
Enter quantity of the product: 20
Enter Name of the Product: Chair
Enter Price of the product: 800
Enter quantity of the product: 200
Enter Name of the Product: Stationary kit
Enter Price of the product: 200
Enter quantity of the product: 50
Enter Name of the Product: Chocolate
Enter Price of the product: 150
Enter quantity of the product: 70
Enter Name of the Product: Hat
Enter Price of the product: 150
Enter quantity of the product: 50
Enter Name of the Product: Ceiling Fan
Enter Price of the product: 1500
Enter quantity of the product: 40
Enter Name of the Product: Bread
Enter Price of the product: 40
Enter quantity of the product: 55

In [6]:
Record

{'1001': {'Name': 'Drink', 'Price': 100, 'Quantity': 100},
 '1002': {'Name': 'Choco Cake', 'Price': 40, 'Quantity': 20},
 '1003': {'Name': 'Keyboard', 'Price': 350, 'Quantity': 25},
 '1004': {'Name': 'Laptop', 'Price': 50000, 'Quantity': 8},
 '1005': {'Name': 'Juice', 'Price': 150, 'Quantity': 95},
 '1006': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1007': {'Name': 'Box', 'Price': 50, 'Quantity': 70},
 '1008': {'Name': 'Mobile Phone', 'Price': 15000, 'Quantity': 15},
 '1009': {'Name': 'Notebook', 'Price': 30, 'Quantity': 75},
 '1010': {'Name': 'Case', 'Price': 1500, 'Quantity': 55},
 '1011': {'Name': 'Sofa', 'Price': 40000, 'Quantity': 30},
 '1012': {'Name': 'Bed', 'Price': 45000, 'Quantity': 17},
 '1013': {'Name': 'Bulb', 'Price': 50, 'Quantity': 150},
 '1014': {'Name': 'LED', 'Price': 75000, 'Quantity': 42},
 '1015': {'Name': 'Tablet', 'Price': 30000, 'Quantity': 18},
 '1016': {'Name': 'Table', 'Price': 2400, 'Quantity': 23},
 '1017': {'Name': 'Rod', 'Price': 800, 'Quantity': 750},
 '1018': {'Name': 'Window Glass', 'Price': 1700, 'Quantity': 67},
 '1019': {'Name': 'Sun Glasses', 'Price': 1000, 'Quantity': 78},
 '1020': {'Name': 'Artificial Plants', 'Price': 400, 'Quantity': 350},
 1021: {'Name': 'Men Trousers', 'Price': 2500, 'Quantity': 15},
 1022: {'Name': 'Men Shirt', 'Price': 3000, 'Quantity': 36},
 1023: {'Name': 'Female Dress', 'Price': 5000, 'Quantity': 20},
 1024: {'Name': 'Desktop', 'Price': 35000, 'Quantity': 25},
 1025: {'Name': 'Mouse', 'Price': 700, 'Quantity': 150},
 1026: {'Name': 'Air Conditioner', 'Price': 35000, 'Quantity': 20},
 1027: {'Name': 'Cooler', 'Price': 7000, 'Quantity': 15},
 1028: {'Name': 'Fan', 'Price': 1500, 'Quantity': 40},
 1029: {'Name': 'Refrigerator', 'Price': 40000, 'Quantity': 20},
 1030: {'Name': 'Chair', 'Price': 800, 'Quantity': 200},
 1031: {'Name': 'Stationary kit', 'Price': 200, 'Quantity': 50},
 1032: {'Name': 'Chocolate', 'Price': 150, 'Quantity': 70},
 1033: {'Name': 'Hat', 'Price': 150, 'Quantity': 50},
 1034: {'Name': 'Ceiling Fan', 'Price': 1500, 'Quantity': 40},
 1035: {'Name': 'Bread', 'Price': 40, 'Quantity': 55}}

In [7]:
# del record[1008] ....to delete a particular record